<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--METADADOS-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--TITULO-->
    <title>Poeta</title>
    <!--CSS-->
    <link rel="stylesheet" href="../css/poeta.css">
    <!--FAVICON-->
    <link rel="shortcut icon" href="../../img/favicon.png" type="image/x-icon">
</head>
<body>
    <main>
        <div>
            <h1 id="titulo">Seja Bem-Vindo</h1>
        </div>
        <br>
        <form>
            <fieldset class="grupo">
                <div class="campo">
                    <label for="autor">
                        <strong>
                            Nome
                        </strong>
                    </label>
                    <input type="text" name="autor" id="autor" required>
                </div>
            </fieldset> 

            <!-- Caixa de texto -->
            <div class="campo poesia">
                <br>
                <label for="poesia">
                    <strong>
                        Escreva seu poema:
                    </strong>
                </label>
                <textarea id="experiencia" name="poesia"></textarea>
            </div>

            <!-- Botão para enviar o formulário -->
            <a href="index.html">
                <button class="botao" type="submit" onsubmit="">Concluído</button>            
            </a>

        </form>
    </main>
    <aside id="birds">
        <img src="../../img/birds.png" alt="">
    </aside>
    <aside id="casal">
        <img src="../../img/casal.png" alt="">
    </aside>
    <footer> 
    </footer>
</body>
</html>