@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes bar {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes pisca {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@keyframes giro{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}