:root{
  /*Var de cor*/
  --ces:rgb(59, 59, 59);
  --mw:#d7e1e6;
  --ts:0 0.5px 4px white;
  --sC: 0px 0.5px 4px #7f98a3;
  --sE: 2px 2px 2px rgba(0,0,0,0.2);
  --B: solid #5d5d5d;
  --cB: #5d5d5d;
  --wt: rgb(255, 255, 255);
  --bk: rgb(0,0,0);
  --back:#E0E0F8;
  --back-color:rgba(0,0,0,0.5);
  --letra:#ffffff;
  --ls:0 0 10px rgb(0, 0, 0);
}
body{
  background-color: var(--cB);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.div-geral{
  min-height: 80vh;
}
fieldset {
  border: 0;
}