@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
/*Cabeçalho*/
.main{
  min-height: 60vh;
}
.header{
  display: flex;
  align-items: center;
  background-color: #000000;
  text-shadow: var(--ts);
  justify-content: space-around;
}
.header a{
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.header #logo{
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 15px;
  margin-right: 10px;
}

/*Título*/
.title{
  font-size: 1.7em;
  color: var(--mw);
  min-width: 70%;
  text-align: center;
  font-family: 'Marck Script', cursive;
}


